extends layout

block content
    h2.page-header Register
    if errors
        each err in errors
            .alert.alert-danger #{err.msg}
    form#register_form(method='post', action='/users/register')
        .form-group
            label First Name
            input.form-control(type='text', placeholder='First Name', name='firstName', minlength="2" required)
        .form-group
            label Last Name
            input.form-control(type='text', placeholder='Last Name', name='lastName', minlength="2" required)
        .form-group
            label Username
            input.form-control(type='text', placeholder='Username', name='username' required)
        .form-group
            label Date of Birth
            input.form-control(type='date', placeholder='Date of Birth', name='birthday' required)
        .form-group
            label Email
            input.form-control(type='email', placeholder='Email', name='email' required)
        .form-group
            label Password
            input.form-control(type='password', placeholder='password', name='password' required)
        .form-group
            label Confirm Password
            input.form-control(type='password', placeholder='Password', name='password2' required)
        button.btn.btn-default(type='submit') Submit

    script(src='/js/register_validation')
    script  $("#register_form").validate();